/*
    common
*/
button {
    position: relative;
    padding: 0 3px;
    text-align: left;
    vertical-align: top;
    border-radius: 3px;
    /* IE fallback*/
    background: #fdfdfd;
    background: linear-gradient(to bottom, #fdfdfd, #ececec);
    border: 1px solid rgba(160, 160, 160, .5);
    border-bottom: 1px solid rgba(131, 131, 131, .5);
    outline: none;
    cursor: pointer;
    box-sizing: content-box;
}
button:disabled {
    background: #f2f2f2;
    color: #808080;
}
button:focus {
    top: -1px;
    margin-right: -1px;
    margin-left: -1px;
    outline: none;
    border: 2px solid #5199db;
}
button:hover {
    background: linear-gradient(to bottom, #f2f2f2, #dfdfdf);
}
button:disabled:hover {
    background: #f2f2f2;
    cursor: default;
}
button::-moz-focus-inner {
    border: 0;
    outline: 0;
}

.text-arrow {
    font-size: 16px;
}


/*
    multiply-button
*/
#multiply-button-wrap {
    height: 50px;
    margin: 30px 0 50px 0;
}
#multiply-button {
    display: block;
    width: 175px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 15px;
    border: 1px solid rgba(74, 128, 60, .5);
    border-bottom: 1px solid rgba(55, 102, 43, .5);
}
#multiply-button {
    background: #4aa71c;
    background: linear-gradient(to bottom, #4ba81d, #38920c);
}
#multiply-button:hover {
    background: #317e0b;
    background: linear-gradient(to bottom, #3b8d13, #317e0b);
}
#multiply-button:focus {
    border: 2px solid #5199db;
}

/*
    clear-button
*/
#clear-button-wrap {
    height: 35px;
    margin: 0 0 10px 0;
}
#clear-button {
    display: block;
    width: 155px;
    height: 28px;
}

/*
    switch button
*/
#switch-button-wrap {
    height: 35px;
    margin: 0 0 10px 0;
}
#switch-button {
    display: block;
    width: 217px;
    height: 28px;
}

/*
    checks
*/
.checkboxes {
    position: relative;
    margin: 50px 0 20px 0;
    overflow: hidden;
}
.checkboxes label {
    margin-right: 15px;
    padding-left: 25px;
    cursor: pointer;
}
.checkboxes input {
    position: absolute;
    top: -30px;
}
.checkboxes input + label {
    background: url("../img/radio.png") 0 2px no-repeat;
}
.checkboxes input:checked + label {
    background: url("../img/radio.png") 0 -78px no-repeat;
}
.checkboxes input:focus + label {
    background: url("../img/radio.png") 0 -98px no-repeat;
}
.checkboxes label:hover {
    background: url("../img/radio.png") 0 -59px no-repeat;
}

/*
    add/delete buttons
*/
.buttons-wrap {
    position: relative;
    height: 40px;
    line-height: 28px;
}
#add-row, #add-column {
    width: 95px;
    height: 28px;
    line-height: 28px;
}
#delete-row, #delete-column {
    width: 85px;
    height: 28px;
    line-height: 28px;
}
.plus-minus {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    font-weight: bold;
    font-size: 26px;
    line-height: 20px;
    vertical-align: top;
}